!!!
%html
  %head
    %title mustache gallery - mustachio
  %body
    %ol{ :start => 0 }
      - Mustachio.mustaches.each_with_index do |mustache, i|
        %li
          %a{ :href => "/#{i}" }
            %img{ :src => "/images/staches/#{mustache['filename']}", :height => 80 }