!!!
%head
%body
  %img{:src => "http://mustachio.heroku.com/magickly/?mustachify=true&src=http://www.librarising.com/astrology/celebs/images2/QR/queenelizabethii.jpg"}
  %h1 http://#{env['HTTP_HOST']}/?src=<em>YOUR_IMAGE_URL</em>