!!!
%html
  %head
  %body
    - ['http://www.bbcnewsdaily.com/wp-content/uploads/2011/05/barack-obama-sad-pic.jpg', 'http://www.gala.fr/var/gal/storage/images/media/images/actu/photos_on_ne_parle_que_de_ca/remarions-les/george_bush/473331-1-fre-FR/george_bush_reference.jpg'].each do |src|
      %img{ :src => "/?src=#{src}" }