<div id='footer'>
  Created by <a href='http://afeld.me'>Aidan Feldman</a> - thanks to <a href='https://github.com/benburkert'>Ben Burkert</a> and <a href='http://www.heroku.com'>Heroku</a> for hosting.
</div>
