<footer>
  Created by <a href="http://afeld.me">Aidan Feldman</a>. Huge thanks to <a href="https://github.com/benburkert">Ben Burkert</a>, <a href="https://twitter.com/stolt45">Chris Stolt</a>, <a href="https://www.cloudflare.com/">CloudFlare</a>, <a href="https://rekognition.com/">ReKognition</a>, and <a href="http://www.heroku.com">Heroku</a>.
</footer>
