!!!
%html
  %head
  %body
    - ['http://www.bbcnewsdaily.com/wp-content/uploads/2011/05/barack-obama-sad-pic.jpg', 'http://www.gala.fr/var/gal/storage/images/media/images/actu/photos_on_ne_parle_que_de_ca/remarions-les/george_bush/473331-1-fre-FR/george_bush_reference.jpg', 'http://blogs.southcoasttoday.com/new-bedford-politics/files/2011/05/Obama-Situation-Room-Osama-bin-Laden.jpg', 'http://2.bp.blogspot.com/_dcFI3kFsDvw/RYCugYRqJ5I/AAAAAAAAATI/HT0rdFL9WfY/s400/backstreet_boys8.jpg'].each do |src|
      %img{ :src => "/?src=#{src}" }